# String output to return raw result. 
*__Note : below is where you see single or double quote.__*

In [2]:
# Example of single quote string
'hello'

'hello'

In [3]:
# Example of double quote string
"world"

'world'

In [4]:
# Example of  single quote whole phrase string. Note: White space in phrase count as characters in string.
'this is also a string'

'this is also a string'

In [5]:
# Mixing Single and Double quote : Incorrect way confusion for python.
' I'm going on a run'

SyntaxError: unterminated string literal (detected at line 2) (4214703178.py, line 2)

In [6]:
# Mixing Single and Double quote : Correct way no confusion for python.
" I'm going on a run "

" I'm going on a run "

# Print Output to return only result. 
*__Note : below is you will not going to see single or double quote.__*

In [7]:
print("hello")

hello

In [8]:
# Example of multiple phrase string output only one string.
"hello word one"
"hello word two"

'hello word two'

In [9]:
# Example of multiple phrase string output all string, due to usage of print functions.
print ("hello word one")
print ("hello word two")

hello word one
hello word two

In [10]:
# Example of \n function usage, which is pressing enter button to start new line. Note: between \n and world is space.
print ('hello \n world')

hello
 world

In [11]:
# Example of \n function usage as list, which is pressing enter button to start new line and listing word. Note: between \n and world is no space.
print ('hello \nworld')

hello
world

In [12]:
# Example of \t function, which is pressing tab button.
print ('hello \tworld')

hello 	world

In [13]:
# Example 1 of len function, which provide the number of character in string.
len('hello')

5

In [14]:
# Example 2 of len function, which provide the number of character in string.
len('I am')

4