### Set Creation Only

In [1]:
# Create Set
myset = set ()

In [2]:
# Check the created Set
myset

set()

### Filling the Empty Set

In [3]:
# Check the set again, Where () mean it is empty.
myset

set()

In [4]:
# Add the number to empty set.
# Note: We will use the .add funtion. To use that we will use (.) without bracket, Tab button on keyboard and add number 1 in ().
myset.add(1)

In [5]:
# Check the set again, it should be filled wiht number 1.
myset

{1}

### Filling the fill Set with Additional Number

In [6]:
# Check the set again for references
myset

{1}

In [7]:
# Add the different number again with add function. Example: Number 2
myset.add(2)

In [8]:
# Check the set again for added number 2.
# Note : You should see previousl number 1 and 2, as it doesn't over right.
myset

{1, 2}

### Filling the Fill Set with same number.
*Note: It doesn't replace or add aditional same number, as it requried unique value.*

In [9]:
# Check the set again for references
myset

{1, 2}

In [10]:
# Use .Add funtion to add same number, Example: 2
myset.add(2)

In [11]:
# Check the set again for changes.
# Note: There should be no changes or repeate, as it required unique value.
myset

{1, 2}