In [1]:
# Assigned Names and Create Variables - Simple Verison

In [9]:
# Create Variable, in this case variable 5 represent object letter a.
a = 5

In [10]:
# Test check variable by just typing a object and it should give result 5
a

5

In [13]:
# Reassign or change variable. Example: 5 to 10.
a=10

In [14]:
# Test check variable by just typing a and it should give result 10
a

10

In [8]:
# Next do math represent letter of variable. Example a is 10, as above, then a+a=20.
a+a

20

In [16]:
# Python also allows you to do reassignments or change with same exsisting object.
# Current Object Assigned : a = 10
a

10

In [17]:
# Reassigment from Object : Current a = 10, so 10 + 10 = 20. Therefore below math Reassing or change a = 10 to a = 20.
a=a+a

In [18]:
# Check to if a = 20.
a

20

In [19]:
# Now if you run the Reassigment from Object : a=a+a again, it should double the variable or result number. 
# Also left cell number changes and you can do as again and again unlimited time.
a=a+a

In [20]:
# Check to if a = 40
a

40

In [21]:
# To find what is variable type from object, use the "TYPE ()" without quote and add object in parentheses syntax. 
# Example : a = 40 and 40 is integer (int), which is whole number without decimal.
type(a)

int

In [24]:
# Now let Reassign or Change a to floating point number. Note : Floating point number is repeating decimal not whole number.
a = 30.1

In [27]:
# check if floating point number assign.
a

30.1

In [29]:
# Check again variable type from object, use the "TYPE ()" without quote and add object in parentheses syntax. 
type(a)

float

In [31]:
# Note if you type the "int = 4" without quote, it should highlight as build in key word in python. !!DO NOT RUN!!
# If run the "int = 4" without quote, go on jupyter software menu -> Kernerl -> Restart Kernel... 
# So restarting the kernel will delete all variables and you need to run the cell again to set variable.

In [33]:
# Last thing perform logic with variable name. So see below example to find how much taxes owe?
# Example : In simple math [Income X TaxRate = My Taxes]
# Setup logic with variable for above example
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [36]:
# Below is How much I owe in taxes in floating number?
my_taxes

10.0

In [38]:
# Proof of floating number. MY EXTRA
type(my_taxes)

float

In [66]:
# MY EXTRA convert to dollar amount
my_income = 1.00
tax_rate = .07
my_taxes = "$"+format(my_income * tax_rate)

In [67]:
# MY EXTRA : Below is How much I owe in taxes in floating number?
my_taxes

'$0.07'