# Immutablity

*Immutablity = It means none modifiable or changeable.*

In [2]:
# Example of String Immutablity
# Setup Strings
name = "Sam"

In [3]:
# Test Strings
name

'Sam'

In [4]:
# Changing letter 'S' to 'P', showing it error which indicate it is Immutablity and cannot change.
name [0] = 'p'

TypeError: 'str' object does not support item assignment

# String Variable Concatenation.

In [5]:
# Check current Strings
name

'Sam'

In [6]:
# Now lets do Slice Notation and pick letter 'am' from string
name[1:]

'am'

In [7]:
# Assigned slice to string variable. In this case slice is "name[1:]" and string variable is "last_letters".
last_letters = name[1:]

In [8]:
# Test the last_letters variable.
last_letters

'am'

In [9]:
# Now concatenate letter 'P' to 'last letters'. Another word joing the letter 'P' with letters 'am'
'P'+last_letters

'Pam'

### Example 1

In [19]:
# Example 1 : A. Create string
x = 'Hello World'

In [21]:
# Example 1 : B. Create Concatenate and note there is space between quote and letter it as space reqired after word "World".
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [23]:
# Example 1 : C. Assign Concatenate to exsiting string 'x'
x = x + " it is beautiful outside!"

In [24]:
# Example 1 : D. Result
x

'Hello World it is beautiful outside!'

In [27]:
# Example 1 : E. Run the "Example 1 : B" again for add multiple same quote line.
x + " it is beautiful outside!"

'Hello World it is beautiful outside! it is beautiful outside!'

### Example 2

*Note : Above 'Example 1' was addition '+' and below is going to be multiplicaton.*

In [28]:
# Example 2 : Assigne the string 'letter' with 'z'
letter = 'z'

In [30]:
# Example 2 : String test
letter

'z'

In [31]:
# Example 2 : Create 10 'z' using multiplication
letter * 10

'zzzzzzzzzz'

# String to String Concatenation.

*Note : String to String Concatenation, you cannot do addition math*

In [33]:
# For reference normal addition
2 + 3

5

In [34]:
# Example : String to String concatenation. Note: It give unexpected result as it doesn't peform addition (Coding).
'2' + '3'

'23'

# In-Build Methods

In [36]:
# Create the strings
x = 'Hello World'

In [37]:
# Check the strings
x

'Hello World'

### Upper Method

*Note : Upper Method make every letter capitalized.*

In [38]:
# Check the strings
x

'Hello World'

In [39]:
# Example of Upper Method : Note to use upper use below proccess and doesn't change the 'x' variable
# Proccess: Type string variable 'x' as example, '.' period without quote, press tab in keyboard, select upper from list and use ().
x.upper()

'HELLO WORLD'

In [40]:
# Example of upper Method Assigned to variable : Note just add the 'x =' with 'x.upper().
x = x.upper()

In [41]:
# Check the strings change to upper Method.
x

'HELLO WORLD'

In [42]:
# Example of Upper Error <funciton str.upper>, stating didn't use () or excute.
x.upper

### Lower Method

*Note : Lower Method make every letter lowercase.*

In [43]:
# Create the strings
x = 'Hello World'

In [44]:
# Check the strings
x

'Hello World'

In [46]:
# Example of Upper Method : Note to use upper use below proccess and doesn't change the 'x' variable
# Proccess: Type string variable 'x' as example, '.' period without quote, press tab in keyboard, select lower from list and use ().
x.lower()

'hello world'

### Split Method

*Note : Split Method make every word split on white space or on specific charactors. Which allow you to create list.*

#### Split by Empty space

In [47]:
# Check the strings
x

'Hello World'

In [48]:
# Example : Split by space. Note : It will remove space, replace  with ',' comma and put word in quote.
x.split()

['Hello', 'World']

#### Split by Charactor

In [49]:
# Create the strings
x = 'This is a strings'

In [50]:
# Check the strings
x

'This is a strings'

In [51]:
# Example As References: Split by space. Note : It will remove space, replace  with ',' comma and put word in quote.
x.split()

['This', 'is', 'a', 'strings']

In [53]:
# Example : Split by Charactor. Note : It will remove charactor, replace  with ',' comma and put word with space in quote. 
# Note: That space is charactor.
x.split('i')

['Th', 's ', 's a str', 'ngs']