### Creating and Findout Tuple
*Note: We learn to create Tuple and recoganize what is tuple or list.*

In [4]:
# Create Tuple
t = (1,2,3)

In [2]:
# Create List
mylist = [1,2,3]

In [5]:
# Check if 't' is tuple
type(t)

tuple

In [6]:
# of 'mylist' is list
type(mylist)

list

### Check the lenght of Tuple

In [7]:
# Check to see 't' of tuple
t

(1, 2, 3)

In [8]:
# Check the lenght of tuple 't', as it have 3 elements
len(t)

3

### Create a Mix Object of Tuple

In [9]:
# Create Tuple with Mix Object
t = ('one',2)

In [10]:
# Test the Tuple with Mix Object
t

('one', 2)

### Grabing the Elements from Tuple

In [11]:
# Check created Tuple
t

('one', 2)

In [12]:
# Grabing the Elements from Tuple : One way
# Note : In this we grabbing 'one' elements
t[0]

'one'

In [13]:
# Grabing the Elements from Tuple : Secound way
# Note : In this we grabbing '2' elements, as 'one' is 0 and '2' is 1 as per index. So we can also use -1 for '2'.
t[-1]

2

### Index and Counting Method for Tuple

In [14]:
# Creating the Tuple.
t = ('a', 'a','b')

In [15]:
# Testing the Tuple
t

('a', 'a', 'b')

In [16]:
# Counting number of 'a' elements in tuple.
# Note : In ('a','a','b') tuple it have 2 'a' and we going to use (.)dot + TAB in keyboard, then selecting 'count' with ().
t.count('a')

2

In [17]:
# Example 1 : Indexing text 'a' elements in tuple.
# Note1 : In ('a','a','b') tuple, there is first 'a' is 0 and secound 'a' is 1. Therefore use automatically first one.
# Note2 :  So use the (.)dot + TAB in keyboard, then selecting 'index' with ().
t.index('a')

0

In [18]:
# Example 2 : Indexing text 'b' elements in tuple.
# Note1 : In ('a','a','b') tuple, there is first 'a' is 0, secound 'a' is 1 and 'b' is 2. Also if there is multple 'b' it will choose firstone.
# Note2 :  So use the (.)dot + TAB in keyboard, then selecting 'index' with ().
t.index('b')

2

### Immutablity in Tuple
*Note : Immutablity mean not changeable. Also Advanced Programmer use tuple in python to prevent accidently change to object that passed around in program. Where help provide data integrity*

In [19]:
# Check the Tuple
t

('a', 'a', 'b')

In [20]:
# Check the mylist
mylist

[1, 2, 3]

In [21]:
# Reassign the first letter '1' to 'New' in mylist.
mylist[0] = 'NEW'

In [22]:
# Check the mylist again
mylist

['NEW', 2, 3]

In [23]:
# Proof of Not Working Reassign in Tuple.
# Note : You should see error that not supported. Which make different Tuple different from List.
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment